* {
    box-sizing: border-box;
  }
  
body {
    margin: 0;
    min-width: 992px;
    font-family: "Helvetica";
    color: #151515;
}

/*상단 메뉴바 & 로고*/
#main_logo{
    float: left;
    cursor: pointer;
}

#navbar{
    height: 60px;
    border: 0px solid white;
    background-color: white;
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
}

#main_menubar li{
    float: right;
    list-style: none;
    line-height: 50px;
}

#main_menubar li a{
    text-decoration: none;
    color: black;
    transition: 0.5s;
    padding-left: 20px;
    padding-right: 20px;
}

/*큰 가방 사진*/
#hero-header {
    height: 700px;
    background-image: url("images/hero_header.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

/* products */
.products h3{
    font-size: 24px;
    color: #545454;
    margin-top: 60px;
    text-align: center;
  }

.products p{
    font-size: 18px;
    color: #545454;
    margin-bottom: 60px;
    text-align: center;
  }
  
.product-list{
    width: 745px;
    margin-left: auto;
    margin-right: auto;
  }
  
.product {
    width: 226px;
    text-align: center;
    display: block;
    color: #545454;
    text-decoration: none;
    float: left;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 80px;
    
  }
  
.product-name{
    margin-top: 20px;
    margin-bottom: 4px;
  }
  
  .clearfix{
    clear: both;
  }

#footer{
  text-align: center;
  margin-top: 40px;
  margin-bottom: 80px;
}

#footer a{
  text-decoration: none;
  margin-left: 10px;
  margin-right: 10px;
}